* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  align-items: center;
  display: flex;
  /* background-color: #ffffff; */
  /* background-color: #F3F6F7;
    background: linear-gradient(to bottom, #fcd66f 0%,#fcd66f 50%,#F3F6F7 50%,#F3F6F7 100%); */
  flex-direction: column;
  height: 100vh;
  text-align: center;
  width: 100%;
}
