.article {
  margin: 20px;
  width: 500px;
}

article {
  padding: 20px;
}

h1 {
  font-size: 10rem;
}

img {
  padding: 20px 0px;
  width: 100%;
}

p {
  padding: 20px 0px;
}

a {
  align-self: flex-end;
  color: #fcba03;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}
